.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #0D0C3D;
    color: #A1BFD1;
    font-family: 'Arial', sans-serif;
    padding: 40px;
    text-align: center;
    width: 100%;
    height: 85%;

}
.header h1 {
    color: #BD5471;
    margin-bottom: 10px;
    font-family: 'spartan';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 0.01;
}

.header h2 {
    line-height: 1.4;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 59px;
}


.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
    text-align: justify;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 20px; 

}
.feature img{
    flex-shrink: 0;
}
.feature p {
    color: #BD5471;
    margin: 0;
    flex-grow: 0;
}
.bnt{
    position: absolute;
    right: 30%;
    bottom: 10%;
}


@media screen and (max-width: 768px) {
    .container{
        height: auto;
    }
    .features {
        flex-direction: column;
    }
 }








