.section_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    padding-top: 110px;
    padding-bottom: 100px;
    color: #BD5471;
    height: auto;
}
.container h1{
    left: calc(50% - 994px/2 + 0.5px);
    top: 30px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: #BD5471;


}
.info_contato a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #BD5471;
}
.favo_cima{
    position: absolute;
    top: 99px;
    right: 0;
  
}
.favo_baixo{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-180deg);
}
.bnt_submit{
    box-sizing: border-box;
    width: 220px;
    height: 64px;
    left: calc(50% - 220px/2);
    top: 845px;
    background: rgba(189, 84, 113, 0.8);
    mix-blend-mode: normal;
    border: 1px solid #BD5471;
    border-radius: 30px;

}
