.section_contato{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    padding-top: 110px;
    padding-bottom: 100px;
    color: #BD5471;
}
.container h1{
    left: calc(50% - 994px/2 + 0.5px);
    top: 30px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: #BD5471;


}
.info_contato a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #BD5471;
}
.favo_cima{
    position: absolute;
    left: 984px;
    top: 99px;
    transform: rotate(-180deg);
}
.favoMel{
    position: absolute;
    left: 30px;
    top: 600px;
}


