.section_contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding-top: 120px;
    padding-bottom: 160px;
    color: #BD5471;
    height: auto;
}

.container h1 {
    left: calc(50% - 994px/2 + 0.5px);
    top: 30px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: #BD5471;
}

.paragrafo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 9px;
    text-align: center;
    color: #A0CEDA;
}

.info_email a,
.info_endereco,
.info_instagram a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #BD5471;
    border: 2px solid #BD5471;
    border-radius: 10px;
    padding: 20px; 
}

.favo_cima {
    position: absolute;
    top: 99px;
    right: 0;

}

.favo_baixo {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-180deg);
}

@media (max-width: 768px) {
    .favo_baixo, .favo_cima{
        width: 80px;
        height: auto;
    }
    .favo_cima{
        top: 130px;
        right: 10px;
    }
    .favo_baixo{
        display: none;
    }
    .container h1{
        font-size: 35px;
        text-align: center;
    }
}