/*Card principal page Destaques*/
.card_style {
    text-align: center;
    padding-top: 100px; 
    /* margin-top: 100px;  */
    padding-bottom: 200px;
    background: rgba(217, 217, 217, 0.5);
}

.noticia {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 31px;
    text-align: center;
    color: #BD5471;
    margin-bottom: 50px;
    margin-top: -50px;
}


/* CardDestaques*/
.card {
    position: relative;
    box-sizing: border-box;
    border: 3px solid #BD5471;
    border-radius: 15px;
    width: 300px;
    padding: 5px;
    transition: transform 0.3s ease;
   
}

.image_card {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.desc {
    margin: 15px 0;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #BD5471;

}

.link {
    position: absolute;
    bottom: 5px;
    left: 6px;
    text-decoration: none;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    color: #BD5471;

}

.link:hover {
    text-decoration: underline;
}
