.header {
    padding: 2rem;
    background: #000347;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #BD5471;
}

.nav{
    display: flex;
    justify-content: space-between;
    

}

.nav ul li{
    list-style: none;  
    
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
}
.navList{
    display: flex;
   justify-content: center;
   gap: 50px;
}
.h2{
    color:#BD5471;
}
.span{
    color:#BD5471 ;
    text-decoration: none;
}
