.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .parceiros {
    padding: 30px;
    text-align: center;
    margin-top: 35px;
    color: blueviolet;
  }
  
  .title {
    padding-top: 80px; 
    padding-bottom: 20px; 
    color: #BD4571;
  }
  
  .parceirosItem{
    display: flex;
    gap: 10px;
    justify-content: center;
  
   
  }
  
  .parceiro-item {
    
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BD4571;
 
  }
  