* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.descrition {
  background: #000347;
  height: 100vh;
  padding-left: 12rem;
  padding-top: 10rem;
}

.title {
 padding-bottom: 2rem;
  color: #BD5471;
}
.text{
  color:#A0CEDA;
  font-weight: bolder;
  font-size: 38px;
  padding-bottom: 1rem;
}

.descrition-title{
  color: #fff;
  font-size: 20px;
  max-width: 30%;
  padding-bottom: 2rem;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */